*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.links_menu{
    margin-left: 16px;
}

section.princ{
    position: relative;
    height: calc(100% - 200px);
}

.princ_title{
    display: inline;
}

.img_princ{
    position: absolute;
    bottom: -20%;
    right: -20%;
    width:60%;
    height: 100%;
    border-radius: 48%;
    background-color: chartreuse;
}