body{
    /* display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center; */
    margin: 0;
    padding: 0;

    background-color: orange;
}
/* comeco do menu */
.menu{
    background-color: gold;

    height: 60px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

a:hover{
    color: red;
}

.flex{
    display: flex;
    flex-direction: center;
    justify-content: center;
    justify-content: space-around;
    align-items: center
}

/* começo dos slides */
.fundo{
    background-color: yellow;
}

.slides{


    position: relative;

    width: 80%;
    max-width: 500px;
    height: 25vw;
    max-height: 250px;
}

.slide_img{
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 1000ms;
}

.slides img.selected{
    opacity: 1;
}
/* começo das ofertas */

.ofertas{
    background-color: rgb(182, 136, 21);

    border-top: solid 2px rgb(165, 126, 27);

    height: 52.5vh;
}

.imgs{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.produto{
    display: inline-block;
    background: #FFF;
    position: relative;


    background-color: white;

    border-radius: 20px;
    width: 215px;
    height: 284px;
}

.produto:hover{
    box-shadow: inset 0 0 1em white, 0 0 1em red;
}

.text{
    text-align: center;
    font-size: 20px;
}